.select-wrapper {
  position: relative;
  width: 100%;
  min-width: 150px;
  max-width: 300px;
  font-size: 16px;
  color: #333;
  font-size: 1rem;
  font-family: system-ui, sans-serif;
  z-index: 10;
}

.select-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.select-wrapper li {
  cursor: pointer;
  margin: 0;
}

.select-wrapper .hidden {
  display: none;
}

.select-wrapper li {
  overflow: hidden;
}

.select-wrapper button.select {
  appearance: none;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 8px;

  background-color: white;
  cursor: pointer;
  border-radius: 3px;
  border: solid 1px #ccc;

  box-shadow: none;
  transform: scale(1);
  font-size: 1rem;
  font-weight: 400;
}

.select-wrapper button.select span.text {
  /* text ellipsis */
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.select-wrapper button.select span.icon {
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat, repeat;
  background-size:
    1rem auto,
    100%;
}

.select-wrapper button.select:focus-visible {
  outline: none;
}

.select-wrapper:has(ul.opened) button.select {
  border-radius: 3px 3px 0 0;
}

.select-wrapper ul.list-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  height: 0;
  max-height: 0;
  transition:
    max-height 0.3s ease,
    border 0.3s ease;
}

.select-wrapper ul {
  position: relative;
  display: block;
  max-width: 100%;
  background-color: white;
  overflow: scroll;
  border-radius: 0 0 3px 3px;
}

.select-wrapper .list-wrapper.opened {
  height: fit-content;
  max-height: 240px;
  border: 1px solid #ccc;
  border-top: 0;
}

.select-wrapper ul li[role='option'] {
  cursor: pointer;
  padding: 6px;
  margin: 4px;
  border-radius: 3px;
  text-align: left;

  /* text ellipsis */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select-wrapper ul li[role='option']:hover {
  background-color: #f1eded;
  color: #333;
}
.select-wrapper ul li[role='option'].active {
  background-color: lightslategrey;
  color: white;
}

.select-wrapper ul .search-wrapper {
  position: sticky;
  top: 0;
  display: flex;
  background-color: inherit;
  width: 100%;
  gap: 2px;
  border-bottom: 1px solid #ccc;
  padding: 4px;
}

.select-wrapper ul .search-wrapper svg {
  width: 24px;
  fill: currentColor;
  padding-inline: 3px;
}

.select-wrapper ul .search-wrapper input {
  flex: 1;
  background-color: inherit;
  border: none;
  outline: none;
}

.select-wrapper ul span.opened.loading::after {
  content: '';
  animation: dotty steps(1, end) 1.3s infinite;
  font-size: small;
  text-align: left;
  padding: 0 6px 3px;
  color: #666666;
}

@keyframes dotty {
  0% {
    content: '.' var(--loading-content, '');
  }
  25% {
    content: '.' var(--loading-content, '');
  }
  50% {
    content: '..' var(--loading-content, '');
  }
  75% {
    content: '...' var(--loading-content, '');
  }
  100% {
    content: '' var(--loading-content, '');
  }
}
